.container {
    padding: 0px;
}

.background {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.row {
    display: flex;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    flex: 1; /* Let the form container grow to fill remaining space */
}

.image-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    padding: 20px;
    min-width: 300px; /* Ensure a minimum width */
    display: flex;
    flex-direction: column;
}

.image-container img {
    flex: 1; /* Make the image fill the remaining space */
    border-radius: 10px;
    object-fit: cover; /* Ensure the image covers the entire container */
}
